<html xmlns:th="http://www.thyemeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>异常处理示例</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}">

    <script type="text/javascript" th:src="@{js/jQuery-1.11.0.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">异常处理示例</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a th:href="@{hello}">SpringBoot 默认异常处理</a><br/><br/>
                <a th:href="@{test}">@ExceptionHandler处理异常</a><br/><br/>
                <a th:href="@{user/add}">Advice处理异常返回json</a><br/><br/>
            </div>
        </div>
    </div>

</body>

</html>